.create_pass_btn {
    background: #E26600;
    width: 65%;    
    margin-top: 3rem;
    cursor: pointer;
    margin: 0 auto;
    height: 40px;
    font-size: 17px;
    font-weight: bolder;
    color: black;
    border-radius: 17px;
    border: none;
    outline: none;
    font-family: 'DM Sans', sans-serif;
}

.create_pass_contents {
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 16px;
    width: 76%;
    margin: 0 auto;
}

.create_pass_btn_div{
    text-align: center;
    margin-top: 2rem;
    color: white;
}

.form_create_pass{
    margin-left: 5rem;
    color: white;
}

.create_pass_container {
    background: #17245C;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 40%;
    position: relative;
    padding-bottom: 2rem;
    margin-top: 2rem;
    border-radius: 10px;
}