.create_rules_tab_div {
  justify-content: space-around;
  margin: 0 auto;
  display: flex;
}
.sub_tabsrules {
  justify-content: space-between;
  margin: 0 auto;
  display: flex;
  width: 93%;
  margin-top: 3%;
}
.subtabrule.active {
  width: 240px;
  border-radius: 5px;
  background: #e26600;
  font-family: "DM Sans", sans-serif;
  color: white;
  justify-content: center;
  height: 50px;
  cursor: pointer;
}
p.subtabtext {
  text-align: center;
  padding-top: 6%;
}
.subtabrule {
  width: 240px;
  height: 50px;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  font-family: "DM Sans", sans-serif;
  justify-content: center;
}
p.subtabtext {
  text-align: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 12px;
}
.rulename {
  width: 100%;
  height: 40px;
  color: #c4c4c4;
  background: #ffffff;
  text-align: center;
}
.tabmainrule {
  width: 50%;
}
.ruletab {
  letter-spacing: 2px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  cursor: pointer;
}
.rulename.active {
  width: 100%;
  height: 40px;
  color: black;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 20px 0px 0px 0px;
  text-align: center;
}

.layerblock {
  display: flex;
  justify-content: start;
}
.layerheadercol:nth-child(2) {
  width: 37%;
}
img.icontab {
  height: 22px;
  position: relative;
  left: 33px;
  top: 15px;
}

img.tickS {
  position: relative;
  left: 53%;
  bottom: 13px;
}
p.label {
  position: relative;
  top: 42%;
  font-size: 13px;
  font-weight: bolder;
}
.layerheadercol:nth-child(1) {
  width: 45%;
}

img.tick {
  position: relative;
  left: 79%;
  height: 17px;
  bottom: 52px;
}

img.previewimageinner {
  background: #ffffff;
  box-shadow: 0px 0px 8px rgb(0 0 0 / 40%);
  border-radius: 4px;
  padding: 13px;
  height: 47px;
  width: 52px;
}

.layerheaderrule {
  display: flex;
  justify-content: space-between;
  height: 95px;
  margin: 0 auto;
  width: 91%;
  margin-top: 3%;
}
.layernamemain {
  font-size: 18px;
  font-weight: bolder;
  font-family: "DM Sans", sans-serif;
  position: relative;
  left: 10px;
}

.innerlayerflex {
  display: flex;
  gap: 3rem;
}
input.searchlayer::placeholder {
  font-family: "DM Sans", sans-serif;
}
input.searchlayer {
  outline: none;
  font-weight: 100;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  border-radius: 4px;
  height: 37px;
  padding-left: 50px;
  width: 294px;
  background-image: url("../../images/search.png");
  background-position: bottom 7px left 15px;
  background-repeat: no-repeat;
}

.mainbox {
  border: 1px solid #cccc;
  margin: 0 auto;
  width: 95%;
  position: relative;
  top: 9%;
  height: 60%;
  overflow: scroll;
  overflow-x: hidden;
}

.accordionmainrule {
  margin: 0 auto;
  width: 96%;
  border-radius: 10px;
  margin-bottom: 13px;
  background-color: #f4f4f4;
}
.layernametop {
  font-size: 18px;
  font-weight: bold;
  font-family: "DM Sans", sans-serif;
  padding-left: 4.1%;
}
img.search {
  bottom: 30%;
  height: 24px;
  left: 6%;
  position: relative;
}
.accordionimageheader {
  display: flex;
}
.accordionboxrule {
  border-bottom: 10px solid white;
}
.space_bottom_rule {
  height: 35px;
}
.imagenewrows {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 93%;
}
img.tick_new {
  position: relative;
  height: 17px;
  left: 67px;
  bottom: 92px;
}
.imagecol {
  width: 93px;
  height: 100px;
  cursor: pointer;
}
img.pathimages {
  width: 54px;
  position: relative;
  top: 23%;
  border-radius: 32px;
  min-width: 10px;
  max-width: 37px;


}
.imageboxrule {
  position: relative;
  background: white;
  height: 5rem;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgb(0 0 0 / 40%);
  text-align: center;
}
.rulesflex {
  display: flex;
  margin: 0 auto;
  width: 92%;
  gap: 2rem;
}
.rulebox {
  background-color: #f4f4f4;
  height: 40%;
  margin: 0 auto;
  width: 95%;
  border-radius: 5px;
}
p.ruletext {
  color: #06132d;
  font-family: "DM Sans", sans-serif;
  font-weight: bolder;
  padding-top: 16px;
  padding-left: 31px;
}
.imageboxrulefinal {
  background: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgb(0 0 0 / 40%);
}
.delete_icon_rule {
  background: #ccc;
  margin-top: 13px;
  padding: 8px;
}
.rulecolum:nth-child(6) {
  position: absolute;
  right: 7%;
}
p.pairwith {
  color: #06132d;
  font-family: "DM Sans", sans-serif;
  font-weight: bolder;
  padding-top: 7px;
  overflow: hidden !important;
  font-size: 14px;
}

.btm_add_rule_div {
  text-align: center;
  margin-top: 6em;
  margin-bottom: 2em;
}

.btm_add_rule_btn {
  background: #e26600;
  border: 1px solid #e26600;
  box-sizing: border-box;
  border-radius: 4px;
  width: 250px;
  height: 40px;
  color: white;
  cursor: pointer;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.image_text{
    display: block;
    width: 85px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 5px;
}

@media (min-width: 768px) and (max-width: 1366px) {
  .contentcenter {
    text-align: center;
    position: relative;
    font-size: 30px;
    margin: 0 auto;
    font-family: "DM Sans", sans-serif;
    width: 84%;
    top: 100px;
  }
  .custom-file-upload {
    border-radius: 8px;
  }
}
