.space2{
    height: 76px;
}

p.rs_forgotP {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 31px;
    color: white;
    position: relative;
}

button.btn-reset {
    width: 81%;
    margin: 0 auto;
    height: 50px;
    color: white;
    border-radius: 17px;
    font-size: 17px;
    border: none;
    outline: none;
    font-family: 'DM Sans', sans-serif;
    background: #E26600;
    cursor: pointer;
    margin-top: 2.5rem;
}